$w-box-color: #fafafa;
$p-box-color:#522639;
$body-bg: #fff; 

$white:#f2f0f0;
$dmaroon:#912c46;
$purple:#733659;
$maroon:#90405e;
$grey: #3f4548;

$click-maroon:#90405e;
$hover-rose:#af7288;


$main-font: "acumin-pro", Helvetica, Arial, sans-serif;

$sub-font:'Poppins', Helvetica, Arial, sans-serif;

$p-font: 'Poppins', Helvetica, Arial, sans-serif;



$rose-menu: #af7288;
$hover-menu: #b291a4;