// sass --watch sass:public/css --style compressed

@import "_vars";
@import "modules/_mainNav";
@import "modules/_home";
@import "modules/_works";
@import "modules/_video";
@import "modules/_contact";
@import "modules/_footer";
@import "modules/_about";
@import "modules/_portfolio";


.hidden {
    display: none;
}


html {
    scroll-behavior: smooth;
}


img, embed, object, video {
    max-width: 100%; 
}

html, body {
    width: 100%;
}
