<header>
 <nav id="mainNav">
  <h2 class="hidden">Main Navigation</h2>
     
        <a id="HB" class="dark ">
           <svg version="1.1" id="burger_menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
               y="0px" viewBox="0 0 77.7 42.3" style="enable-background:new 0 0 77.7 42.3;" xml:space="preserve">
            <style type="text/css">
               .hb{fill:#F2F0F0;}
            </style>
            <path id="bottom_x5F_border" class="hb" d="M69.2,15.2h-60c-1.5,0-2.7-1.2-2.7-2.7l0,0c0-1.5,1.2-2.7,2.7-2.7h60
               c1.5,0,2.7,1.2,2.7,2.7l0,0C71.9,14,70.7,15.2,69.2,15.2z"/>
            <path id="top_x5F_border_1_" class="hb" d="M69.2,34.1h-60c-1.5,0-2.7-1.2-2.7-2.7l0,0c0-1.5,1.2-2.7,2.7-2.7h60
               c1.5,0,2.7,1.2,2.7,2.7l0,0C71.9,32.6,70.7,34.1,69.2,34.1z"/>
            </svg>
        </a>

           <div id="burgerCon" class="">
              <img id="m_lv_symbol" src="images/half_symbol.jpg" alt="ham img">
                  <ul id="burgerMenu">
                    <li><a href="/#designer">Home</a><li>
                     <li><a href="/about">About me</a><li>
                     <li><a href="/#portfolio">Work</a><li>
                     <li><a href="/#contact">Contact</a><li>
                  </ul>
            </div>
 </nav>
</header>

<section id="showPort">
          <section id="lvLogo">
                 <a class="gdLogo" href="/"><img src="images/gd_lv_symbol.svg" alt="logo"/></a>
             </section>

                <div class="whatAb">
                   <p class="pro">ABOUT ME</p>
                </div>
           </section>
</section>


<section div="imagine">
           <div class="mySto">
               <div class="lv">
                    <p class="mSubtitle">Imagine of the designer</p>
                    <h2 class="pHead">LUISA VALERO</h2>
                    <p>I’ve developed graphics and innovative visual 
                    solutions for some of the world’s leading companies across industry sectors. 
                    I love the challenge of telling a story that can be understood by the eyes and 
                    minds of people who live in different cultures and have different perspectives. 
                    I’ve worked for international businesses, marketing divisions, small to large 
                    companies and non-profit organizations building web designs,
                    branding strategies and high-impact print products</p>

                    <p>I am intuitively visual. I speak with pictures and typefaces, and I have found that 
                    separates me competitively in ways that provide beautiful benefits to my clients. 
                    I am fluent in English, American Sign Language, Spanish, and cryptophasia.</p>

               </div>
                 <img ="luiImage2" src="images/abt_luisa1.jpg" alt="luisa valero image">
           </div>

               <div class="timel">
                    <p class="mSubtitle">Timeline</p>
                    <h2 class="pHead">INTERNSHIP & WORK EXPERIENCE</h2>
            
                   <div class="ExSki">
                       <div class="col1">
                           <h3 class="pSub">Graphic Designer Intern</h3>
                           <p>2015</p>
                       </div>
                          <div class="gLine"></div>
                             <div class="col2">
                               <h3 class="pSub">Graphic & Web Designer Intern</h3>
                               <p>2016-2017</p>
                              </div>
                                <div class="gLine"></div>
                                    <div class="col3">
                                     <h3 class="pSub">Freelance Designer</h3>
                                     <p>2016-2019</p>
                                    </div>
                    </div>

              </div>

                   <div class="skills">
                        <p class="mSubtitle">Skills</p>
                        <h2 class="pHead">MY KNOWLEDGE IN SOFTWARE & CODE</h2>
                               <div class="ExSki">
                                  <div class="col1">
                                   <h3 class="pSub">Software</h3>
                                       <ul>
                                           <li>Illustrator</li>
                                           <li>InDesign</li>
                                           <li>Photoshop</li>
                                           <li>After Effects</li>
                                       </ul>
                                  </div>
                                       <div class="gLine"></div>
                                        <div class="col2">
                                           <h3 class="pSub">Code</h3>
                                             <ul>
                                              <li>HTML5</li>
                                              <li>CSS3</li>
                                              <li>SASS</li>
                                              <li>Basic JavaScript</li>
                                             </ul>
                                         </div>
                                             <div class="gLine"></div>
                                                  <div class="col3">
                                                  <h3 class="pSub">Tools</h3>
                                                   <ul>
                                                     <li>HTML5</li>
                                                     <li>CSS3</li>
                                                     <li>SASS</li>
                                                     <li>Basic JavaScript</li>
                                                   </ul>
                                
                                             </div>
                               </div>
                 </div>

</section>
