<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/izo6wrb.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <!-- import waypoint and greensock -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>Graphic & UI Designer - Luisa Valero</title>
  </head>
  <body>
    {{{body}}}
    <footer id="mainFooter">
       <a class="logo" href="/"><img src="images/g_lv_symbol.svg" alt="logo"/></a>

             <div id="copyRight">
                <p> &copy; 2015 - 2019 by Luisa Valero.</p>
                <p>All Rights Reserved</p>
             </div>

             <div class="b-socialMedia">
                  	<a href="https://www.instagram.com/luiva.m/"><img id="inst" src="images/g_instagram.svg" alt="instagram"></a>
						   <a href="https://www.linkedin.com/in/luisa-valero/"><img id="ld" src="images/g_linkedin.svg" alt="linkedin"></a>
             </div>
      
   </footer>
  </body>
</html>
