#mainFooter {
    display: flex;
    flex-direction: column;
    background-color: $p-box-color;
    align-items: center;
    position:relative;
    padding:50px;

    .logo {
    width: 50px;
    padding-top: 30px;
    }

    #copyRight{
        text-align: center;

    p { 
        display: flex;
        flex-direction: column;
        color: $white;
        font-family: $p-font;
        padding-top: 16px;
        font-size: 18px;
        line-height: 24px;
       }

    a { 
        text-decoration: none;
        color:$white;
        padding-top: 20px;
        padding-bottom: 40px;
      }
    }
    
   .b-socialMedia
   { 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 65px;
     margin-top: 20px;
     a { 
        padding-bottom: 40px;
    }
   
    #inst, #ld{
        width: 28px;
    }

}

}

@media screen and (min-width: 768px) {
    #mainFooter {
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        .b-socialMedia {
            margin-top: 0px;
            height: 30px;
            padding-top: 20px;
        }

    }
}